.header-offset {
  @extend .mt-lg-4, .mt-3, .mb-3;
}

.page-header {
  @extend .header-offset;
}

.btn-icon {
  .b-ico {
    width: 20px;
    display: inline-block;
  }
  .b-txt {
    @extend .ml-2;
  }
}

.table th, .table td {
  vertical-align: middle;
}
