<div class="content-inner">
  <mat-card>
    <mat-card-header>
      <mat-card-title>System / Item</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #f="ngForm" (ngSubmit)="doSubmit(f)" id="systemItemForm">
        <div class="d-flex">
          <div>
            <section>
              <mat-form-field appearance="outline">
                <mat-label>System Name</mat-label>
                <input matInput type="text" placeholder="System Name" name="systemName" ngModel required>
                <mat-hint>The objects System Name</mat-hint>
              </mat-form-field>
            </section>
            <section>
              <mat-form-field appearance="outline">
                <mat-label>System Type</mat-label>
                <input matInput type="text" placeholder="System Type" name="systemType" ngModel required>
                <mat-hint>The objects System Type</mat-hint>
              </mat-form-field>
            </section>
            <section>
              <mat-form-field appearance="outline">
                <mat-label>System Description</mat-label>
                <input matInput type="text" placeholder="System Description" name="systemDescr" ngModel required>
                <mat-hint>The system description</mat-hint>
              </mat-form-field>
            </section>
          </div>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions align="start">
      <button mat-raised-button type="submit" form="systemItemForm" color="primary">Create</button>
      <button mat-raised-button type="reset" form="systemItemForm" color="warn">Discard</button>
    </mat-card-actions>
  </mat-card>
</div>
