<h2 class="page-header">Admin / Articles / Item</h2>
<p>
  <span class="badge" [ngClass]="mode === 'new' ? 'badge-success' : 'badge-warning'">mode: {{ mode }}</span>
  <span class="badge badge-secondary ml-1" *ngIf="mode === 'edit'">index: {{ index }}</span>
  <span class="badge badge-info ml-1" *ngIf="item.id !== null">id: {{ item.id }}</span>
</p>

<form (submit)="onDxSubmit()">
  <dx-form id="form" labelLocation="top" [(formData)]="item" [showValidationSummary]="true" #dxForm>
    <dxi-item dataField="title" [validationRules]="[{type: 'required', message: 'The Name is required'}]"></dxi-item>
    <dxi-item dataField="subtitle" [validationRules]="[{type: 'required', message: 'The Type cannot be empty'}]"></dxi-item>
    <dxi-item dataField="alias" [validationRules]="[{type: 'required', message: 'The Type cannot be empty'}]"></dxi-item>

    <dxi-item dataField="published" editorType="dxCheckBox" [editorOptions]="{ text: item.publishedAt }">
      <dxo-label location="left" alignment="left"></dxo-label>
    </dxi-item>
    <dxi-item dataField="locked" editorType="dxCheckBox" [editorOptions]="{ text: item.lockedAt }">
      <dxo-label location="left" alignment="left"></dxo-label>
    </dxi-item>

    <dxi-item dataField="text" [label]="{visible: false}">
      <dx-html-editor [value]="item.text">
        <dxo-toolbar>
          <dxi-item formatName="undo"></dxi-item>
          <dxi-item formatName="redo"></dxi-item>
          <dxi-item formatName="separator"></dxi-item>
          <dxi-item formatName="size" [formatValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"></dxi-item>
          <dxi-item formatName="font" [formatValues]="['Arial', 'Courier New', 'Georgia', 'Impact', 'Lucida Console', 'Tahoma', 'Times New Roman', 'Verdana']"></dxi-item>
          <dxi-item formatName="separator"></dxi-item>
          <dxi-item formatName="bold"></dxi-item>
          <dxi-item formatName="italic"></dxi-item>
          <dxi-item formatName="strike"></dxi-item>
          <dxi-item formatName="underline"></dxi-item>
          <dxi-item formatName="separator"></dxi-item>
          <dxi-item formatName="alignLeft"></dxi-item>
          <dxi-item formatName="alignCenter"></dxi-item>
          <dxi-item formatName="alignRight"></dxi-item>
          <dxi-item formatName="alignJustify"></dxi-item>
          <dxi-item formatName="separator"></dxi-item>
          <dxi-item formatName="header" [formatValues]="[1, 2, 3, 4, 5, false]"></dxi-item>
          <dxi-item formatName="separator"></dxi-item>
          <dxi-item formatName="orderedList"></dxi-item>
          <dxi-item formatName="bulletList"></dxi-item>
          <dxi-item formatName="separator"></dxi-item>
          <dxi-item formatName="color"></dxi-item>
          <dxi-item formatName="background"></dxi-item>
          <dxi-item formatName="separator"></dxi-item>
          <dxi-item formatName="link"></dxi-item>
          <dxi-item formatName="image"></dxi-item>
          <dxi-item formatName="separator"></dxi-item>
          <dxi-item formatName="clear"></dxi-item>
          <dxi-item formatName="codeBlock"></dxi-item>
          <dxi-item formatName="blockquote"></dxi-item>
        </dxo-toolbar>
      </dx-html-editor>
    </dxi-item>
  </dx-form>
  <div class="mt-2">
    <dx-button text="Subimt" type="success" [useSubmitBehavior]="true" class="mr-1"></dx-button>
    <dx-button text="Discard" type="default" class="mr-1" (onClick)="onDiscard()"></dx-button>
    <dx-button text="Delete" type="danger" (onClick)="onDelete()"></dx-button>
  </div>
</form>
