<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Nearest Stars</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            [attr.aria-expanded]="!isCollapsed"
            aria-label="Toggle navigation"
            (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"
         id="navbarCollapse"
         [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/blog">Blog</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/docs">Docs</a>
        </li>
      </ul>

      <form class="form-inline mt-2 mt-md-0 ml-lg-5"
            #f="ngForm"
            (ngSubmit)="onSubmit(f)">
        <input class="form-control form-control-sm mr-sm-2"
               type="text"
               name="search"
               placeholder="Search"
               aria-label="Search"
               ngModel>
        <button class="btn btn-sm btn-outline-success my-2 my-sm-0"
                type="submit">Search</button>
      </form>

      <ul class="navbar-nav ml-md-3 ml-sm-0">
        <ng-container *ngIf="!isLoggedIn(); else logout">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/signin">Sign in</a>
          </li>
          <li class="nav-item">
            <span class="nav-text">or</span>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/signup">Sign up</a>
          </li>
        </ng-container>
        <ng-template #logout>

          <li class="nav-item" ngbDropdown>
            <a class="nav-link"
               id="navSettingsDropdown"
               ngbDropdownToggle>
              <fa-icon [icon]="['fas', 'cog']"></fa-icon>
              <span class="d-inline d-sm-inline d-md-none ml-2">Settings</span>
            </a>
            <div ngbDropdownMenu aria-labelledby="navSettingsDropdown">
              <a class="dropdown-item" routerLinkActive="active" routerLink="/profile">Profile</a>
              <a class="dropdown-item" routerLinkActive="active" routerLink="/admin">Admin</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLinkActive="active" routerLink="/signout">Abmelden</a>
            </div>
          </li>
        </ng-template>
      </ul>

    </div>
  </div>
</nav>
