<div id="page-wrapper" class="d-flex flex-column h-100">
  <div id="page-header">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleLeftSideNav()"><mat-icon>menu</mat-icon></button>
      <a mat-button routerLink="/home">Nearest Stars</a>
      <a mat-button routerLink="/blog">Blog</a>
      <a mat-button routerLink="/docs">Docs</a>
      <span class="menu-spacer"></span>
      <ng-container *ngIf="!isLoggedIn">
        <a mat-button routerLink="/signin">Signin</a>
        <span class="mat-small">or</span>
        <a mat-button routerLink="/signup">Signup</a>
      </ng-container>
      <ng-container *ngIf="isLoggedIn">
        <a mat-button routerLink="/admin">Admin</a>
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>perm_identity</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item routerLink="/profile">Profile</a>
          <a mat-menu-item routerLink="/signout">Logout</a>
        </mat-menu>
      </ng-container>
    </mat-toolbar>
  </div>
  <div id="page-content" class="flex-fill flex-grow-1">
    <router-outlet></router-outlet>
  </div>
  <div id="page-footer">
    <mat-toolbar color="secondary">
      <div class="flex-grow-1">
        <span class="mat-small"><strong>&copy; neareststars</strong> by Sam Deen & Philipp John</span>
      </div>
      <div>
        <a href="https://github.com/JohnnyDevNull/nearest-stars" title="github.com/JohnnyDevNull/nearest-stars"
           target="_blank">
          <img src="assets/images/GitHub-Mark-32px.png" alt="GitHub"/>
        </a>
      </div>
    </mat-toolbar>
  </div>
</div>
