<mat-card class="ns-form-card">
  <mat-card-header>
    <mat-card-title>Admin / Groups / Item</mat-card-title>
    <mat-card-subtitle>
      <span>Mode: {{ mode }}</span>&nbsp;
      <span *ngIf="mode === 'edit'">Index: {{ index }}</span>&nbsp;
      <span *ngIf="mode === 'edit'">Id: {{ item.id }}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" id="userGroupEditForm">
      <section>
        <mat-form-field>
          <input matInput type="text" placeholder="Name" name="name" [ngModel]="item.name" required>
        </mat-form-field>
      </section>
      <section>
        <mat-form-field>
          <input matInput type="text" placeholder="Type" name="type" [ngModel]="item.type" required>
        </mat-form-field>
      </section>
      <section>
        <label for="activatedCheck-input" [style.width]="'75px'">Activated:</label>
        <mat-checkbox id="activatedCheck" name="activated" [ngModel]="item.activated">
          {{ item.activatedAt | date:'dd.MM.yyyy HH:mm:ss' }}
        </mat-checkbox>
      </section>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button type="submit" color="primary" form="userGroupEditForm" [disabled]="!f.valid">
      {{ mode === 'new' ? 'Create' : 'Save' }}
    </button>
    <button mat-raised-button type="button" color="warn" (click)="onDiscard(f)" [disabled]="!f.touched">
      Discard
    </button>
    <button mat-raised-button type="button" color="warn" (click)="onDelete()" *ngIf="mode === 'edit' && item.id !== null">
      Delete
    </button>
  </mat-card-actions>
</mat-card>
