<h2 class="page-header">Admin / Groups / Item</h2>
<p>
  <span class="badge" [ngClass]="mode === 'new' ? 'badge-success' : 'badge-warning'">mode: {{ mode }}</span>
  <span class="badge badge-secondary ml-1" *ngIf="mode === 'edit'">index: {{ index }}</span>
  <span class="badge badge-info ml-1" *ngIf="item.id !== null">id: {{ item.id }}</span>
</p>

<form (submit)="onDxSubmit()">
  <dx-form id="form" labelLocation="top" [(formData)]="item" [showValidationSummary]="true" #dxForm>
    <dxi-item dataField="name" [validationRules]="[{type: 'required', message: 'The Name is required'}]"></dxi-item>
    <dxi-item dataField="type" [validationRules]="[{type: 'required', message: 'The Type cannot be empty'}]"></dxi-item>
    <dxi-item dataField="activated" editorType="dxCheckBox" [editorOptions]="{ text: item.activatedAt }">
      <dxo-label location="left" alignment="left"></dxo-label>
    </dxi-item>
  </dx-form>
  <div class="mt-2">
    <dx-button text="Subimt" type="success" [useSubmitBehavior]="true" class="mr-1"></dx-button>
    <dx-button text="Discard" type="default" class="mr-1" (onClick)="onDiscard()"></dx-button>
    <dx-button text="Delete" type="danger" (onClick)="onDelete()"></dx-button>
  </div>
</form>
