<mat-card>
  <mat-card-title>Admin / Categories</mat-card-title>
  <mat-card-content>
    <div class="button-bar mb-2">
      <a class="btn btn-success btn-sm" routerLink="/admin/categories/item/new">New</a>
      <button class="btn btn-primary btn-sm ml-2" (click)="onSync()">
        <fa-icon [icon]="['fas', 'sync-alt']"></fa-icon>
      </button>
    </div>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Alias</th>
          <th>Created</th>
          <th>Updated</th>
          <th>Published</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cat of cats; let i = index">
          <td>{{ cat.id }}</td>
          <td>{{ cat.title }}</td>
          <td>{{ cat.alias }}</td>
          <td>{{ cat.createdAt | date:'dd.MM.yyyy HH:mm:ss' }}</td>
          <td>{{ cat.updatedAt | date:'dd.MM.yyyy HH:mm:ss' }}</td>
          <td>{{ cat.publishedAt | date:'dd.MM.yyyy HH:mm:ss' }}</td>
          <td>
            <div ngbDropdown class="d-inline-block" placement="left">
              <button class="btn btn-secondary btn-sm" id="dropdownBasic1" ngbDropdownToggle>
                <fa-icon [icon]="['fas', 'cog']"></fa-icon>
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <a class="dropdown-item btn-icon" [routerLink]="['item', 'edit', i]">
                  <span class="b-ico">
                    <fa-icon [icon]="['fas', 'edit']"></fa-icon>
                  </span>
                  <span class="b-txt">Edit</span>
                </a>
                <button class="dropdown-item btn-icon" (click)="onDeleteRow(cat.id)">
                  <span class="b-ico">
                    <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
                  </span>
                  <span class="b-txt">Delete</span>
                </button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
