<mat-card class="ns-form-card">
  <mat-card-header>
    <mat-card-title>Admin / Users / Item</mat-card-title>
    <mat-card-subtitle>
      <span>Mode: {{ mode }}</span>&nbsp;
      <span *ngIf="mode === 'edit'">Index: {{ index }}</span>&nbsp;
      <span *ngIf="mode === 'edit'">Id: {{ item.id }}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" id="userEditForm">
      <section>
        <mat-form-field>
          <input matInput type="email" placeholder="Email" name="email" [(ngModel)]="item.email" required email>
        </mat-form-field>
      </section>
      <section>
        <mat-form-field>
          <input matInput type="text" placeholder="Username" name="username" [(ngModel)]="item.username" required>
        </mat-form-field>
      </section>
      <section>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" name="password" ngModel>
        </mat-form-field>
      </section>
      <section>
        <mat-form-field>
          <input matInput type="password" placeholder="Password Repeat" name="passwordRepeat" ngModel>
        </mat-form-field>
      </section>
      <section class="mt-2 mb-4">
        <label for="userGroupsList">User groups</label>
        <mat-selection-list class="ns-user-groups" id="userGroupsList" name="groups" ngModel>
          <mat-list-option *ngFor="let group of userGroups" [value]="group" [selected]="isGroupSelected(group.id)">
            {{ group.name }}
          </mat-list-option>
        </mat-selection-list>
      </section>
      <section>
        <label for="activatedCheck-input" [style.width]="'75px'">Activated:</label>
        <mat-checkbox id="activatedCheck" name="activated" [(ngModel)]="item.activated">{{ item.activatedAt | date:'dd.MM.yyyy HH:mm:ss' }}</mat-checkbox>
      </section>
      <section>
        <label for="lockedCheck-input" [style.width]="'75px'">Locked:</label>
        <mat-checkbox id="lockedCheck" name="locked" [(ngModel)]="item.locked">{{ item.lockedAt | date:'dd.MM.yyyy HH:mm:ss' }}</mat-checkbox>
      </section>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button type="submit" color="primary" form="userEditForm" [disabled]="!f.valid">
      {{ mode === 'new' ? 'Create' : 'Save' }}
    </button>
    <button mat-raised-button type="button" color="warn" (click)="onDiscard(f)" [disabled]="!f.touched">
      Discard
    </button>
    <button mat-raised-button type="button" color="warn" (click)="onDelete()" *ngIf="mode === 'edit' && item.id !== null">
      Delete
    </button>
  </mat-card-actions>
</mat-card>
