<h2 class="page-header">Admin / Users / Item</h2>
<p>
  <span class="badge" [ngClass]="mode === 'new' ? 'badge-success' : 'badge-warning'">mode: {{ mode }}</span>
  <span class="badge badge-secondary ml-1" *ngIf="mode === 'edit'">index: {{ index }}</span>
  <span class="badge badge-info ml-1" *ngIf="item.id !== null">id: {{ item.id }}</span>
</p>

<form (submit)="onDxSubmit()">
  <dx-form id="form" labelLocation="top" [(formData)]="item" [showValidationSummary]="true" #dxForm>
    <dxi-item dataField="email" [validationRules]="[{type: 'required', message: 'The Email is required'}]"></dxi-item>
    <dxi-item dataField="username" [validationRules]="[{type: 'required', message: 'Username cannot be empty'}]"></dxi-item>
    <dxi-item dataField="password" [editorOptions]="{mode: 'password'}"></dxi-item>
    <dxi-item dataField="passwordRepeat" [editorOptions]="{mode: 'password'}"></dxi-item>
    <dxi-item>
      <dx-list [items]="userGroups" keyExpr="id" selectionMode="multiple" [showSelectionControls]="true" [(selectedItems)]="selectedGroups">
        <div *dxTemplate="let item of 'item'">
          {{ item.name }}
        </div>
      </dx-list>
    </dxi-item>
    <dxi-item dataField="activated" editorType="dxCheckBox" [editorOptions]="{ text: item.activatedAt }">
      <dxo-label location="left" alignment="left"></dxo-label>
    </dxi-item>
    <dxi-item dataField="locked" editorType="dxCheckBox" [editorOptions]="{ text: item.lockedAt }">
      <dxo-label location="left" alignment="left"></dxo-label>
    </dxi-item>
  </dx-form>
  <div class="mt-2">
    <dx-button text="Subimt" type="success" [useSubmitBehavior]="true" class="mr-1"></dx-button>
    <dx-button text="Discard" type="default" class="mr-1" (onClick)="onDiscard()"></dx-button>
    <dx-button text="Delete" type="danger" (onClick)="onDelete()"></dx-button>
  </div>
</form>
