<mat-card>
  <mat-card-title>Admin / Users</mat-card-title>
  <mat-card-content>
    <mat-toolbar [style.height]="'auto'">
      <a mat-icon-button routerLink="/admin/users/item/new">
        <mat-icon>add</mat-icon>
      </a>
      <button mat-icon-button (click)="onSync()">
        <mat-icon>sync</mat-icon>
      </button>
    </mat-toolbar>
    <mat-table [dataSource]="users">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef>Username</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.username }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef>Created</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.createdAt | date:'dd.MM.yyyy HH:mm:ss' }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="updateAt">
        <mat-header-cell *matHeaderCellDef>Updated</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.updateAt | date:'dd.MM.yyyy HH:mm:ss' }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="activatedAt">
        <mat-header-cell *matHeaderCellDef>Activated</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.activatedAt | date:'dd.MM.yyyy HH:mm:ss' }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>&nbsp;</mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>settings</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <a mat-menu-item [routerLink]="['item', 'edit', i]">
              <mat-icon>edit</mat-icon>Edit
            </a>
            <button mat-menu-item (click)="onDeleteRow(element.id)">
              <mat-icon>delete</mat-icon>Delete
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="userColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: userColumns"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
