<div class="content-inner">
  <mat-card>
    <mat-card-title>Home</mat-card-title>
    <mat-card-content>
      <p>
        NearestStars.com was created in 2018 to serve the purpose of both educating the public about our Solar neighborhood,
        as well as be a center for the latest research on all sorts of stars, from huge blue giants, to freezing rogue planets
        lurking in between the stars.
      </p>
      <p>
        In its current state, the site is still under construction to arrive at our primary goal at listing the 100 nearest star
        systems to the Sun, so content may change significantly.
      </p>
      <p>
        Stay tuned, and thanks for visiting the site!
      </p>
    </mat-card-content>
  </mat-card>
</div>
