<mat-card class="ns-form-card">
  <mat-card-header>
    <mat-card-title>Admin / Blogs / Item</mat-card-title>
    <mat-card-subtitle>
      <span>Mode: {{ mode }}</span>&nbsp;
      <span *ngIf="mode === 'edit'">Index: {{ index }}</span>&nbsp;
      <span *ngIf="mode === 'edit'">Id: {{ item.id }}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" id="blogEditForm">
      <section>
        <mat-form-field>
          <input matInput type="text" placeholder="Title" name="title" [ngModel]="item.title" required>
        </mat-form-field>
      </section>
      <section>
        <mat-form-field>
          <input matInput type="text" placeholder="Subtitle" name="subtitle" [ngModel]="item.subtitle">
        </mat-form-field>
      </section>
      <section>
        <mat-form-field>
          <input matInput type="text" placeholder="Alias" name="alias" [ngModel]="item.alias" required>
        </mat-form-field>
      </section>
      <section>
        <editor name="text" [(ngModel)]="item.text"></editor>
      </section>
      <section>
        <label for="publishedCheck-input" [style.width]="'75px'">Published</label>
        <mat-checkbox id="publishedCheck" name="published" [ngModel]="item.published">
          {{ item.publishedAt | date:'dd.MM.yyyy HH:mm:ss' }}
        </mat-checkbox>
      </section>
      <section>
        <label for="lockedCheck-input" [style.width]="'75px'">Locked</label>
        <mat-checkbox id="lockedCheck" name="locked" [ngModel]="item.locked">
          {{ item.lockedAt | date:'dd.MM.yyyy HH:mm:ss' }}
        </mat-checkbox>
      </section>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button type="submit" color="primary" form="catsEditForm" [disabled]="!f.valid">
      {{ mode === 'new' ? 'Create' : 'Save' }}
    </button>
    <button mat-raised-button type="button" color="warn" (click)="onDiscard()" [disabled]="!f.touched">
      Discard
    </button>
    <button mat-raised-button type="button" color="warn" (click)="onDelete()" *ngIf="mode === 'edit' && item.id !== null">
      Delete
    </button>
  </mat-card-actions>
</mat-card>
